header {
    background: #BBBBBB;
    padding: 20px 0;  /*espaçamento interno*/
}

.caixa {
    position: relative; 
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*espaçamento absoluto em relação div e não a página*/
    top: 110px; /*centralizar menu no meio da imagem*/
    right: 0; 
}

nav li {
    display: inline; /*DEIXAR MESMA LINHA*/
    margin: 0 0 0 15px; /*ESPAÇAMENTO A ESQUERDA*/
}

nav a{
    text-transform: uppercase; /*MAIUSCULO*/
    color: #000000;
    font-weight: bold; /*LETRA MAIS GROSSA-REFORÇO*/
    font-size: 22px;
    text-decoration: none; /*NENHUMA DECORAÇÃO - SUBLINHADO*/
}


nav a:hover
{
    color:#860742;
    text-decoration:underline;

}
.produtos{
    width: 940px; /*tamanho fixo de 940 px*/
    margin: 0 auto; /*espaçamento lateral de 0 para cima e baixo e automático para os lados*/
    padding: 50px 0 ; /*espaçamento interno - nao ficar muito grudado no top e zero espacamentos aos lados*/
}
.produtos li {
 display: inline-block;
 text-align: center; /*alinhar ao centro*/
 width: 30%;
 vertical-align: top; /*alinhar ao top - o css por padrao sempre alinha abaixo*/
 margin: 0 1.5%; /*espaçamento externo - zero para cima e para baixo e 1.5 % para os lados*/

 padding: 30px 20px; /*espacamento interno - 30px cima e baixo, 20px para os lados*/
 box-sizing: border-box; /*o espaçamento interno = padding (30px 20px) fica dentro dos width=30%*/
 border: 2px solid #000000;
border-radius: 10px;

}

.produtos h2 {  /*trabalhar com os títulos das listas*/
    font-size: 30px; /*tamanho fonte*/
    font-weight: bold; /*peso da fonte - negrito*/
}

.produto-descrição{
    font-size: 18px;    
}

.produto-preço {
    font-size: 23px;
    font-weight: bold;
margin-top: 20px;
    
}

.produtos li:hover{
    border-color: rgb(247, 2, 104);
}


.produtos li:active {
    border-color:#e084c9
}
.produtos li:hover h2{

font-size: 40px;



}
footer{
   text-align: center;
   background: url(bg.jpg);
   padding: 40px 0;
}

 .copyright 
 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
 }
 main{
    width: 940px;
    margin: 0 auto;
 }
 form{
    margin: 40px 0;
 }
 form label, form legend{

    display:block;
    font-size: 20px;
    margin: 0 0 10px 0;
 }
 .input-padrao{
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
 }
 .checkbok{
    margin: 20px 0;
 }
 .enviar {
    width: 40%;
padding: 15px 0;
background: #640230;
color: #FFFFFF;
font-weight: bold;
font-size: 18px;
border: none;
border-radius: 5px;
transition: 1s;
cursor: pointer;

 }
 .enviar:hover{
    background: #f395dc;
    transform: scale(1.2)rotate(360deg);
 } 
 thead{ 
    background: #640230;
    color: #FFFFFF;
    font-weight: bold;
 }

 
 table{
    margin: 20px 0 40px 0;

 }
 td, th{
    border: 1px solid #640230;
    padding: 8px 15px;
 }
